<%- layout("/layouts/boilerplate") %>


<h1>All feedbacks</h1>


<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
  <% for(let feedback of allFeedbacks) {%>
  <a href="/feedbacks/<%= feedback._id %>" class="feedback-link">
  <div class="card col feedback-card">
    <b><%= feedback.name %></b><br>
  <img src="<%= feedback.image.url %>"class="card-img-top" style="height: 20rem;"/>
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text"><%= feedback.feedbackMessage %></p>
    <p class="card-text"><%= feedback.contact %></p>
    <P class="card-text"><%= feedback.email %></P>
  </div>
</div>
</a>
<% } %>
</div>
